<footer>
	<div class="container-fluid">	
		<div class='row'>
			<div class='col-md-12 p-2'>
				<div class='d-flex flex-column justify-content-center page-header-info'>
					<p class='d-flex align-items-center jus'><i class='icon-location'></i>&nbsp;<i><?=$this->viewData['owner']->Address; ?></i></p>
					<p class='d-flex align-items-center'><i class='icon-phone'></i>&nbsp;<i><?=$this->viewData['owner']->Phones; ?></i></p>
					<p class='d-flex align-items-center'><i class='icon-envelop'></i>&nbsp;<i><a class='text-white' href='mailto:<?=$this->viewData['owner']->Email; ?>'><?=$this->viewData['owner']->Email; ?></a></i></p>
				</div>
			</div>					
		</div>	
	</div>
</footer>