<nav class="navbar navbar-expand nav-fill justify-content-center pt-0 pb-0  bg-dark">
  <div class="navbar-header d-none">
  	<a class="navbar-brand" href="#"><i class='icon-logo' style='font-size: 30px;'></i></a>
  </div>

    <ul class="nav navbar-nav">
    <?php
    	foreach($this->viewData['menu'] as $index => $point){
			if(isset($point['subitem'])){
				echo "<li class='nav-item dropdown'>
        				<a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><i class='".$point['icon']."'></i>&nbsp;".$point['caption']."</a>
        				<div class='dropdown-menu' aria-labelledby='navbarDropdown'>";
							foreach($point['subitem'] as $subindex => $subpoint){
								echo "<a class='dropdown-item' href='".$subpoint['link']."'><i class='".$subpoint['icon']."'></i>&nbsp;".$subpoint['caption']."</a>";				
							}	
				echo "</div></li>";			
			}
			else{
				$stl = (isset($point['style'])?$point['style']:"");
				echo 	"<li class='nav-item'>
        					<a class='nav-link ".$stl."' href='".$point['link']."'><i class='".$point['icon']."'></i>&nbsp;".$point['caption']."&nbsp;</a>
      					</li>";
			}
		}   
    ?>
  	</ul>

</nav>